body {
    margin: 0;
    background-color: lightslategrey;
}

.banr {
    background-color: green;
    padding: 40px 0px;
    text-align: center;
    color: yellow;
    font-size: xx-large;
}

.menu>ul>li>p {
    font-size: large;
    color: white;
}

.menu ul {
    margin: 0;
    padding: 0;
    position: relative;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    min-width: 70px;
    background-color: darkgreen;
    text-align: center;
    padding: 1px 30px;
}

.menu>ul ul {
    display: none;
}

.menu ul li:hover {
    background-color: darkslategray;
}

.menu ul li:hover>ul {
    display: initial;
    position: absolute;
    top: 3.5em;
    left: 0;
    display: block;
}

.menu>ul>li:hover>ul>li {
    display: block;
}

.menu>ul>li>ul>li:hover>ul>li {
    margin-left: 130px;
}